/* ======================================== */
/* 폰트 정의 */
/* ======================================== */
@font-face {
    font-family: 'SUIT';
    src: url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'SUIT';
    src: url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'SUIT';
    src: url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT-ExtraBold.woff2') format('woff2');
    font-weight: 800;
}

@font-face {
    font-family: 'SUIT';
    src: url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT-Heavy.woff2') format('woff2');
    font-weight: 900;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

@font-face {
    font-family: 'Pretendard Variable';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('/variable/woff2/PretendardVariable.woff2') format('woff2-variations');
}


/* ======================================== */
/* 전역 스타일 및 재사용 가능한 유틸리티 클래스 */
/* ======================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-synthesis: none;
    font-family: 'Pretendard', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #ECEBE9;
    z-index: -1;
}

a {
    text-decoration: none;
    color: #9d9d9d;
}

.wrap {
    z-index: -1;
}

/* 재사용 가능한 텍스트 스타일 */
.capy_line {
    font-weight: 700;
    font-size: clamp(30px, 1vw, 33px);
}

.capy_line strong {
    color: #0053FF;
    font-weight: 700;
}

.subheading {
    position: relative;
    left: 5%;
    font-size: clamp(20px, 1vw, 26px);
    font-weight: 700;
    color: #0053FF;
    z-index: 2;
}

.description {
    position: relative;
    
    left: 5%;
    font-size: clamp(18px, 1.1vw, 24px);
    font-weight: 500;
    z-index: 2;
    line-height:150%;
}

.subheading.white {
    color: #ffffff;
    left: 0%;
}

.description.white {
    color: #ffffff;
    font-weight: 300;
    left: 0%;
}


/* ======================================== */
/* 첫 화면 (First Section) */
/* ======================================== */
#goUpButton {
    position: fixed;
    right: 3vw;
    bottom: 5vw;
    z-index: 10;
    cursor: pointer;
}

#first {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
    padding: 3vw;
    padding-top: 3vh;
}

.first_bluebox {
    position: relative;
    width: 100%;
    height: 95vh;
    min-height: 1000px;
    padding: 2vw;
    background-color: #0053FF;
    border-radius: 50px;
}

.first_bluebox img {
    width: 100%;
    height: 100%;
}

.first_Logo_svg {
    position: absolute;
    width: 45vw;
    height: 20vh;
}

.first_Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.first_disc {
    position: absolute;
    top: 6vh;
    left: 3.5vw;
    color: #ffffFF;
}

.first_introtext {
    position: absolute;
    top: 27.5vh;
    width: 100%;
    font-size: clamp(18px, 1.2vw, 22px);
    font-weight: 500;
    line-height: 135%;
    letter-spacing: 1%;
    color: #ffffFF;
    text-align: center;
    margin-left: -1vw;
}

.Nav_ber {
    display: flex;
    align-items: center;
    position: absolute;
    top: 6vh;
    right: 3.5vw;
    width: 30vw;
    aspect-ratio: 600 / 72;
    z-index: 2;
}

.Nav_star {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #0053FF;
    border: #ffffFF solid 2px;
    border-radius: 100%;
    right: 0;
}

.Nav_ber_back {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
    padding-left: 6%;
    padding-right: 10%;
    margin-left: -40px;
    border-radius: 30px;
    background-color: #3375FF;
    gap: 10%;
}

.nav_button {
    color: #ffffFF;
    cursor: pointer;
    opacity:0.8;
    transition: all 0.5s ease-in-out;
}

.nav_button:hover {
    font-weight: 500;
     opacity:1;
}

.first_svg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.first_svg svg {
    width: 69vw;
    height: 100vh;
}

.hover_svg {
    z-index: 2;
}

.hover_svg:hover {
    fill: #FF7B00;
}

/* ======================================== */
/* 위글루 소개 (WeGlue Introduction) */
/* ======================================== */
#WeGlue_name {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 92vh;
    padding: 3vw;
    gap: 2vw;
}

.Introduction_box {
    position: relative;
    width: 100%;
    height: 55vh;
    padding: 3vw;
    background-color: #0053FF;
    border-radius: 50px;
    overflow: hidden;
    transition: all 1s ease-in-out;
}

/* .Introduction_box:hover {
    width: 110%;
    height: 60vh;
} */

.Introduction_box.A p {
    font-size: clamp(22px, 1.2vw, 26px);
    font-weight: 600;
    color: #ffffff;
    z-index: 3;
}

.Introduction_svg {
    display: flex;
    align-items: end;
    position: absolute;
    bottom: 3vw;
    width: 87%;
    height: auto;
    background-color: #3375FF;
}

.Introduction_svg.House {
    justify-content: end;
}

.Introduction_svg.logo svg {
    position: absolute;
    bottom: 0;
    width: 30%;
}

.Introduction_box.B p {
    position: relative;
    font-size: clamp(20px, 1vw, 24px);
    line-height: 150%;
    font-weight: 500;
    color: #ffffff;
    z-index:3;
}
.Introduction_svg.House svg {
    position: absolute;
    bottom: 0;
    width: 45%;
    height: auto;
    z-index: 2;
}

.line_gif {
    position: absolute;
    bottom: 0;
    width: 70vw;
    opacity: 70%;
    z-index:1;
}

.line_gif.A {
    left: 23vw;
    bottom: 0vh;
}

.line_gif.B {
    left: -24vw;
    bottom: 0vh;
}

#introVideo_wrap {
    width: 100%;
    height: 100vh;
    margin-bottom:15%;
    border-radius: 50px;
}

#video {
    position: relative;
    top: 0;
    width: 100%;
    height: 1080px;
    transform: translateZ(0);
    will-change: transform;
}


/* ======================================== */
/* 인터랙션 (Interaction) */
/* ======================================== */
#interaction {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    gap:5%;
    width: 100%;
    height: 160vh;
    
    padding-bottom: 30vh;
    margin-top: 10vw;
}

#interaction .subheading {

    width: auto;
   
    margin-bottom:-1.5%;
    left: 5vw;
}

#interaction .description {
  
    width: auto;
    
    left: 5vw;
}

#interaction_panel {
    display: grid;
    grid-template-columns: 2fr 0.9fr;
    position: relative;
    
    left: 5%;
    width: 90%;
    height: 90vh;
    list-style: none;
    gap: 58px;
    transition: all 1s ease-in-out;
}

.panel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.Mission_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 2%;
    top: 3%;
    width: 300px;
    height: 65px;
    padding-right: 2%;
    background-color: #ffffFF;
    border: #000000 solid 2px;
    border-radius: 50px;
    font-weight: 600;
}

.Mission_num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    background-color: #0053FF;
    border: #000000 solid 2px;
    border-radius: 100%;
    font-size: 22px;
    color: #ffffFF;
    margin-left: -10px;
}

.panel.A {
    background-color: #ffffff;
    border: solid #000000 2px;
    border-radius: 30px;
}

.refrigerator_img {
    width: auto;
    height: 130%;
}

.interaction_section_img {
    height: 100%;
}

/* #interaction_panel:hover {
    grid-template-columns: 1fr 2fr;
} */


/* ======================================== */
/* 상세페이지 시작 (Overview) */
/* ======================================== */
#Overview {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap:3%;
    position: relative;
    width: 100%;
    height: 112vh;
    min-height: 1000px;
    padding: 100px;
    background-color: #0053FF;
    border-radius: 50px 50px 0 0;
}

.Overview_inner_wrap{
    margin-top:-15vh;
    width:100%;
    height:90vh;
}

.descBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 23%;
    height: 23%;
    min-width: 300px;
    max-width: 500px;
    min-height: 300px;
    aspect-ratio: 430 / 300;
    padding: 2.5%;
    padding-bottom: 3.5%;
    background-color: #3375FF;
    border-radius: 30px;
}

.descBox.A,
.descBox.B {
    left: 5%;
}

.descBox.C,
.descBox.D {
    right: 5%;
}

.descBox.A {
    bottom: 452px;
}

.descBox.B {
    bottom: 100px;
}

.descBox.C {
    bottom: 568px;
}

.descBox.D {
    bottom: 100px;
}

.card-title {
    font-weight: 700;
    font-size: clamp(16px, 1vw, 20px);
    color: #ffffff;
}

.card-content {
    font-weight: 400;
    font-size: clamp(14px, 0.9vw, 16px);
    line-height: 200%;
    margin-top: 32px;
    color: #ffffff;
}

.sources {
    position: absolute;
    bottom: 10%;
    height: 27px;
    background-color: #4D4D4D;
    border-radius: 30px;
    z-index: 3;
    font-size: clamp(10px, 0.8vw, 11px);
    line-height: 27px;
    color: #9d9d9d;
    text-align: center;
}

.sources.A {
    width: 75px;
    right: 30px;
}

.sources.B {
    width: 86px;
    right: 30px;
}

.sources.C {
    width: 99px;
    right: 30px;
}

.sources.D {
    width: 101px;
    right: 30px;
}

.line-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    z-index: 1;
}

.line-dot.leftA {
    left: 99%;
    top: calc(50% - 5px);
}

.line-dot.leftB {
    left: 99%;
    top: 75%;
}

.line-dot.right {
    left: -1%;
    top: calc(50% - 5px);
}

.line-dot.right::after {
    left: auto; /* 기존 left 속성 초기화 */
    right: 100%; /* 부모 요소의 오른쪽 끝에 맞춰서 선의 오른쪽 끝을 위치시킴 */
    transform: translateY(-50%) /*translateX(0)*/; /* 필요에 따라 X축 변환 제거 */
    width: 6vw; /* 원하는 선의 길이 */
    background: linear-gradient(to left, white, transparent);
}

.line-dot::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    width: 6vw;
    height: 2px;
    background: linear-gradient(to right, white, transparent);
    z-index: 0;
}

.overviewSvg {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 70px;
    left: 32vw;
    width: 35vw;
    max-width: 750px;
    aspect-ratio: 3 / 4;
}

.overviewSvg svg {
    z-index: 3;
}


/* ======================================== */
/* 코리빙 섹터 (Co-Living Section) */
/* ======================================== */
#blue_Bg {
    position: relative;
    height: 340vh;
    background-color: #0053FF;
    z-index: -1;
    margin-bottom: -100vh;
}

#Co-living {
    display: flex;
    
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    gap:1%;
    width: 100%;
    height: 300vh;
    min-height: 1000px;
    padding:5vw;
    /* overflow-x: hidden; */
}





.messenger_box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    width: 283px;
    height: 83px;
    border: 2px solid #000000;
    background-color: #ffffFF;
    font-size: 24px;
    font-weight: 400;
    opacity:1;
    z-index: 3;
}

.messenger_box::after {
    content: "";
    position: absolute;
    top: -55px;
    right: 44%;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    border: #000000 2px solid;
    border-radius: 10px;
    
}

.checkmark_svg{
    position: absolute;
    top:-127%;
    left:39%;
    width: 70px;
      height: 100px;
      z-index:10;
}



.user_box_cover:hover .checkmark{
    animation: draw 6s ease-out forwards;
}

.user_box_cover.on .checkmark{
    stroke-dashoffset: 0;
}

.checkmark {
      fill: none;
    
      stroke-linecap:round;
       stroke-linejoin:round; 
       
      stroke-width: 10;

      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      
    }
.checkmark.A{
    stroke:#FF7B00;
}

.checkmark.B{
    stroke:#FFCE33;
}


    @keyframes draw {
      to {
        stroke-dashoffset: 0;
      }
    }
.messenger_box.A {
 
    /* background-color: #FF7B00; */
    color: #000000;
    border-radius:  30px 30px 30px 0;
    transition: all 1s ease-in-out;
}

.messenger_box.B {

    /* background-color: #FFCE33; */
    color: #000000;
    border-radius: 30px 30px 0 30px;
    transition: all 1s ease-in-out;
    pointer-events: none;
}



/* .messenger_box.A::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 10px;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    border: #000000 2px solid;
    border-radius: 10px;
    transform: rotate(10deg);
} */

/* .messenger_box.A svg {
    position: absolute;
    top: -40px;
    right: -10px;
    z-index: 1;
    pointer-events: none;
} */



/* .messenger_box.B::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 10px;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    border: #000000 2px solid;
    border-radius: 10px;
    transform: rotate(10deg);
    pointer-events: none;
} */
/* 
.messenger_box.B svg {
    position: absolute;
    right: 0;
    z-index: 1;
    pointer-events: none;
} */




.user_container {
    display: flex;
    justify-content: center;
    background-color: #0053FF;
    
    width: 100%;
    gap: 1.5%;
    margin-top:10vh;
}

.blue_cover_bottom{
    position: absolute;
    background-color: #0053FF;
    width: 100%;
    height:35%;
    filter: blur(100px);
}

.user_box_cover{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height:100%;
    cursor: pointer;
    z-index:5;
    
}

.user_box_cover.on{
    animation: cover_off forwards 0.5s 0.1s;
}


@keyframes cover_off {
    to{opacity:0; transform: scale(120%);}
}

.user_box_cover_BG{
    position: absolute;
    width:100%;
    height:100%;
    background-color:rgba(56, 56,56, 0.4); /* 검은색(hsl 기준)에 50% 투명도 */
    backdrop-filter: blur(10px);
    transition: all 1s ease-in;

    

}

.user_box {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;

    aspect-ratio:844/570 ;

    background-color: #F7F7F7;
    border-radius: 30px;
    z-index: 0;
    opacity: 1;
    padding-bottom:5%;
    transition: all 1s ease-in-out;
    overflow: hidden;
}


.user_box_inner.A{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;

    width:80%;
    height:80%;
}


.user_box_inner.B{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;

    width:65%;
    height:80%;
}



.user_box p {
    position: absolute;
    bottom: 13%;
    left: 0;
    width: 100%;
    font-size: 22px;
    text-align: center;
}

.user_list {
    /* position: absolute;
    bottom:30%;
    left:17.5%; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 40%;
    aspect-ratio: 1/1;
    list-style: none;
    gap:11%;
    margin-right:8%;
}

.user_list li {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #EAEAEA;
    border-radius: 100%;
}

.user_list li:nth-child(n+1):nth-child(-n+4){
    opacity: 0;
}

.user_list li:nth-child(n+7):nth-child(-n+8){
    opacity: 0;
}


.user_list li:nth-child(n+21):nth-child(-n+36) {
    background-color: #FF7B00;
}

.user_svg {
    /* position: absolute;
    bottom:29%;
    right:15% ; */
    z-index: 2;
    width:32%;
    margin-bottom:-1%;
    
 
    
}

.lock_svg{
    position: absolute;
    right:0.1%;
    bottom:3%;
}

.user_half_list {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
    gap:1%;
    width: 100%;

    list-style: none;
}

.user_half_list li {
    
    width: 1vw;
    min-width: 20px;
    max-width: 30px;
    aspect-ratio:1/13;
   
    background-color: #FFCE33;
    border-radius: 5px;
}

.user_half_list li:nth-child(n+9):nth-child(-n+14) {
    
    height: 80%;
    background-color: #EAEAEA;
    max-height:230px;
    
}


/* ======================================== */
/* 로고 스티키 섹터 (LOGO Sticky Section) */
/* ======================================== */
.LOGO_sticky_wrap {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 300vh;
    margin-top: -235vh;
    z-index: -1;
    pointer-events: none;
}

.LOGO {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    padding-top: 33vh;
}

.LOGO p {
    position: absolute;
    width: 100%;
    margin-top: 50px;
    color: #ffffff;
    text-align: center;
    z-index: 0;
    line-height:150%;
}

.LOGO svg {
    position: relative;
    left: calc(50% - 16vw);
    width: 32vw;
    z-index: 0;
}

/* ======================================== */
/* 주요 기능 섹터 (Key Function Section) */
/* ======================================== */
#keyFunction {
    position: relative;
    width: 100%;
    height: 4200px;
    background-color: #ffffFF;
    border-radius: 50px 50px 0 0;
    margin-top: -50px;
    overflow: visible;
    z-index: 2;
}

.functionTextBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 35vh;
    left: 10%;
    width: auto;
    height: 228px;
    opacity: 0;
    transition:all 0.5s ease-in-out;
}

.functionTextBox.on {
    opacity: 1;
    transition:all 0.5s ease-in-out;
}

.function_disc {
    font-size: clamp(17px, 1vw, 22px);
   
}

.function_name {
    font-size: clamp(27px, 1.5vw, 32px);
    font-weight: 700;
    color: #0053FF;
}

.function_disc_sec {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
}

.function_lists {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 4000px;
    list-style: none;
    align-items: center;
}

.function_list {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: calc(50% - 270px);
    width: 450px;
    height: 560px;
    padding: 50px;
    border: #000000 solid 2px;
    border-radius: 50px;
    margin-top: 444px;
    
}

.function_lists li:nth-child(1) {
    margin-top: 30vh;
}

.function_lists li:nth-child(odd) {
    background: #0053FF;
    transform: rotate(5deg);
}

.function_lists li:nth-child(even) {
    background: #373737;
    transform: rotate(-6.5deg);
}

.function_lists svg {
    transform: scale(100%);
}


/* ======================================== */
/* 목업 이미지 & 디자인 시스템 섹터 (Mockup Image & Design System) */
/* ======================================== */
#designSystem {
    position: relative;
    width: 100%;
    height: auto;
    padding: 5vw;
    background-color: #ffffFF;
    z-index:5;
}

.wegluePhoto_placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 130vh;


    margin-bottom: 30vh;
}

.wegluePhoto{
    width:100%;
    
}

.designSystem_subheading {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: #0053FF;
    z-index: 2;
}

.designSystem_description {
    position: relative;
    top: 100px;
    font-size: 22px;
    font-weight: 500;
    z-index: 2;
}

.designSystem_wrap {
    position: relative;
    width: 100%;
    height: auto;
}

.designSystem_svg {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    padding: 0;
    aspect-ratio: 1038 / 230.34;
}

.designSystem_svg svg {
    width: 100%;
    height: 12vw;
    margin-bottom: -13px;
    aspect-ratio: 1040 / 262;
}


/* 디자인 시스템 그리드 설정 */
.designSystem_grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.7fr 1fr 0.5fr 0.5fr 1fr 2fr;
    position: relative;
    width: 100%;
    height: auto;
    list-style: none;
    gap: 1%;
    aspect-ratio: 1721 / 2200;
    z-index: 2;
}

.designSystem_grid li {
    padding: 3vw;
    border: #000000 solid 2px;
    border-radius: 30px;
    font-size: clamp(19px, 1.25vw, 29px);
    font-weight: 600;
    overflow: hidden;
}

.designSystem_grid li:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

.symbol_svg {
    transform: scale(200%) translate(50px, 100px);
    z-index: 2;
    transition: all 1s ease-in-out;
}

.symbol_svg.on {
    transform: scale(100%) translate(0, 0);
    z-index: 2;
    transition: all 1s ease-in-out;
}

.symbol_B {
    opacity: 0;
    transition: all 1s ease-in-out;
}

.symbol_svg.on .symbol_B {
    opacity: 1;
    transition: all 1s ease-in-out;
}

.symbol_svg.on .symbol_circle {
    opacity: 0;
    transition: all 1s ease-in-out;
}

.symbol_grid {
    position: absolute;
    transform: scale(98.5%) translate(88px, -88px);
}

.symbol_grid path {
    transition: all 1s ease-in-out;
}

.symbol_grid.on path:nth-child(1) {
    transform: translate(0, 8px);
}

.symbol_grid.on path:nth-child(2) {
    transform: translate(0, -40px);
}

.symbol_grid.on path:nth-child(3) {
    transform: translate(0, 78px);
}

.symbol_grid.on path:nth-child(4) {
    transform: translate(0, 100px);
}

.symbol_grid.on path:nth-child(5) {
    transform: translate(-26px, 0);
}

.symbol_grid.on path:nth-child(6) {
    transform: translate(-24px, 0);
}

.symbol_grid.on path:nth-child(7) {
    transform: translate(22px, 0);
}

.symbol_grid.on path:nth-child(8) {
    transform: translate(-250px, 0);
}

.symbol_grid.on path:nth-child(9) {
    transform: translate(300px, 0);
}

.symbol_grid.on path:nth-child(10) {
    transform: translate(250px, 0);
}

.symbol_grid.on path:nth-child(11) {
    transform: translate(0, 24px);
}

.symbol_grid.on path:nth-child(12) {
    transform: translate(0, 15px);
}

.Symbol p {
    position: absolute;
    top: 3vw;
    left: 3vw;
}

.designSystem_grid li:nth-child(2) {
    grid-column: 4 / span 3;
}

.logo_disc {
    font-size: clamp(17px, 1vw, 22px);
    line-height: 150%;
}

.logo_disc_box svg {
    position: absolute;
    right: 2vw;
}

.designSystem_grid li:nth-child(3) {
    grid-column: 4 / span 3;
}

.naming_svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.naming_svg svg {
    margin-top: -55px;
}

/* 얘가 아이콘 svg 부모 */
.designSystem_grid li:nth-child(4) {
    display: flex;
    align-items: center;
    position: relative;
    grid-column: 1 / span 4;
    grid-row: 3 / span 2;
    padding: 0;
    overflow: hidden;
    gap: 20vw;
}

.Icons p {
    position: absolute;
    top: 3vw;
    left: 3vw;
}

@keyframes icons_rolling {
    from {
        transform: translateX(2236px);
    }
    to {
        transform: translateX(-2236px);
    }
}

.Icons_A_wrapper,
.Icons_B_wrapper {
    display: flex;
    position: absolute;
    animation: icons_rolling 15s linear infinite;
}

.Icons_B_wrapper {
    animation-delay: -7.5s;
}

.Icons_A,
.Icons_B {
    margin-right: 100px;
    margin-top: 3%;
}


/* 폰트 샘플 */
.designSystem_grid li:nth-child(5) {
    position: relative;
    grid-column: 5 / span 2;
    grid-row: 3 / span 1;
    padding: 1.5vw;
}

.designSystem_grid li:nth-child(6) {
    position: relative;
    grid-column: 5 / span 2;
    grid-row: 4 / span 1;
    padding: 1.5vw;
}

.exam {
    position: absolute;
    bottom: 1.5vw;
    right: 1.5vw;
    font-weight: 400;
    line-height: 200%;
    text-align: right;
}

.exam strong {
    font-weight: 700;
}

.exam.Pretendard {
    font-size: clamp(17px, 1vw, 22px);
}

.exam.Suit {
    font-size: clamp(15px, 0.9vw, 20px);
}

.designSystem_grid li:nth-child(7) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    grid-column: 1 / span 6;
    grid-row: 5 / span 2;
    background-color: #0053FF;
    overflow: visible;
    margin-top:10vw;
    
}

.Logo p {
    color: #ffffff;
    position: absolute;
    top: 3vw;
    left: 3vw;
}

.Logo_star {
    position: absolute;
    bottom: 6vh;
    left: -3vw;
}

/* ======================================== */
/* 색상 팔레트 섹션 (Color Palette Section) */
/* ======================================== */
#Colors_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 120vh;
    background-color: #ffffff;
}

.Colors_grid {
    display: grid;
    grid-template-rows: 2fr 0.5fr 0.5fr;
    grid-template-columns: 1fr 0.6fr 0.4fr;
    width: 100%;
    height: 80vh;
    list-style: none;
    gap: 0.7vw;
}

.color_code {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-weight: 400;
    font-size: 18px;
}

.Color_name {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    font-weight: 500;
    font-size: 24px;
}

.Color_title {
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-weight: 400;
    font-size: 24px;
}

.Colors_grid li {
    position: relative;
    background-color: #EBEBEB;
    border-radius: 30px;
}

.Colors_grid li:nth-child(1) {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-color: #0053FF;
    color: #ffffff;
}

.Colors_grid li:nth-child(2) {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    background-color: #ffffff;
    border: #0053FF solid 2px;
    color: #0053FF;
}

.Colors_grid li:nth-child(3) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
    background-color: #3375FF;
    color: #ffffff;
}

.Colors_grid li:nth-child(4) {
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
    background-color: #373737;
    color: #ffffff;
}

.Colors_grid li:nth-child(5) {
    background-color: #DBE7FF;
    color: #ffffff;
}

.Colors_grid li:nth-child(6) {
    background-color: #E5E5E5;
    color: #A3A3A3;
}


/* ======================================== */
/* 앱 소개 섹션 (App Introduction Section) */
/* ======================================== */
#AppIntroduction {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 130vh;
    min-height: 1200px;
    padding: 5vw;
    background-color: #ffffFF;
}

.AppIntroduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 1450px;
    gap: 7vh;
}

.AppVentoGrid {
    width: 65vw;
    background-color: #ffffFF;
  
    border-radius: 50px;
}

.AppVentoGrid.A {
    position: relative;
    height: 40vw;
    padding: 6vh;
}

.AppVentoGrid p {
    margin-bottom: 3.3vh;
}

.subheading.App {
    left: 0;
}

.description.App {
    top: 0;
    left: 0;
    line-height: 150%;
}

.AppVentoGrid.B {
    position: relative;
    height: 62.5vh;
    margin-left: 25vw;
}

.App_disc_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
}

.Mockup_phone_App {
    width: 29vw;
    margin-left: 11vw;
    margin-bottom: -13%;
}

.App_disc_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 18vw;
    height: auto;
    padding: 1.5vw;
    border: #000000 solid 1.2px;
    border-radius: 20px;
    aspect-ratio: 356 / 176;
    z-index: 2;
}

.App_disc_box.A,
.App_disc_box.D {
    background-color: #0053FF;
}

.App_disc_box.B,
.App_disc_box.C {
    background-color: #373737;
}

.App_disc_box.A {
    top: 9vh;
    left: 18vw;
}

.App_disc_box.B {
    top: 26.8vh;
    right: 3vw;
}

.App_disc_box.C {
    top: 53vh;
    left: 5vw;
}

.App_disc_box.D {
    top: 65vh;
    right: 3vw;
}

.App_disc_box p {
    color: #ffffFF;
}

.App_disc_subtitle {
    font-size: clamp(8px, 1vw, 7px);
    font-weight: 200;
    opacity: 80%;
}

.App_disc_title {
    font-size: clamp(14px, 1vw, 15px);
    font-weight: 400;
    height: 2vw;
}

.App_disc_text {
    font-size: clamp(12px, 1vw, 13px);
    font-weight: 200;
    line-height: 150%;
}

.App_disc_box_icon {
    position: absolute;
    bottom: 14%;
    right: -1.1vw;
    width: 6.5vw;
    height: auto;
}

.App_disc_box_icon.C {
    right: -0.9vw;
}

.App_disc_box_icon.D {
    bottom: 8%;
    right: -0.7vw;
}

.App_disc_box_Arrow {
    position: absolute;
    top: 49%;
    z-index: 1;
}

.App_disc_box_Arrow.A {
    width: 9vw;
    height: auto;
    left: 100%;
}

.App_disc_box_Arrow.C {
    width: 16vw;
    height: auto;
    left: 103%;
}

.App_disc_box_Arrow.B {
    width: 14vw;
    height: auto;
    right: 100%;
}

.App_disc_box_Arrow.D {
    width: 18vw;
    height: auto;
    right: 100%;
}


/* ======================================== */
/* 실시간 사용 로그 기록 기능 섹터 (Real-time Logging Section) */
/* ======================================== */
#Real_time_Logging {
    width: 100%;
    height: 135vh;
    padding-top: 10%;
    background-color: #ffffFF;
}

.Real_time_Logging_wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 3vh;
}

.subheading.RTL {
    width: 100%;
    left: 0;
    text-align: center;
}

.capy_line.RTL {
    width: 100%;
    line-height: 150%;
    text-align: center;
}

.App_RTL_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -10px;
    width: 100%;
    height: 700px;
    margin-top: 3%;
    gap: 5vw;
}

.App_RTL_wrap img {
    width: 20vw;
    height: auto;
}

.RTL_disc_text_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: calc(100% + 3vh);
    width: 120%;
    height: 10vh;
    font-size: clamp(16px, 1vw, 18px);
    font-weight: 500;
    line-height: 140%;
    text-align: center;
    gap:5%;
}

/* .RTL_disc_text_box svg {
    transform: scale(80%);
} */

.RTL_disc_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 432px;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    border: #4D4D4D solid 2px;
    border-radius: 30px;
    background-color: #ffffff;
    z-index:2;
}

.RTL_disc_box.A {
    justify-content: space-between;
    width: 23vw;
    height: auto;
    bottom: 3vw;
    aspect-ratio: 3 / 3.1;
}

.RTL_disc_box.B {
    justify-content: center;
    width: 23vw;
    height: auto;
    bottom: -12vw;
    padding: 1vw;
    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
    aspect-ratio: 2 / 0.9;
    gap: 5%;
}

.RTL_Button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.RTL_Button.A {
    background-color: #0053FF;
    color: white;
    border: none;
}

.RTL_Button.B {
    background-color: white;
    color: #0053FF;
    border: 2px solid #4D4D4D;
}

.RTL_disc_box img {
    width: 10vw;
}

.RTL_disc_box_bottom {
    display: flex;
    /* justify-content: center; */
    width: 89%;
    height: 25%;
    gap: 3%;
}

.RTL_line {
    width: 1px;
    height: 100%;
    background-color: #9d9d9d;
}

.RTL_cake_img_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RTL_justme {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 35%;
    height: 20px;
    background-color: #CAA974;
    color: #ffffFF;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    border-radius: 24px;
    margin-bottom: -5%;
    z-index: 2;
}

.RTL_alert_text {
    font-size: clamp(18px, 0.5vw, 19px);
    font-weight: 700;
    text-align: center;
    margin-top: -2%;
}

.RTL_alert_text strong {
    font-size: clamp(14px, 0.5vw, 14.5px);
    font-weight: 400;
    color: #9d9d9d;
}

.Warehousing_text_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 1vw; /* 필요시 패딩 추가 */
    background-color: #EEEEEE;
    border-radius: 15px;
    font-size: clamp(11px, 1vw, 15px);
    font-weight: 600;
    line-height: 230%;
}

.Warehousing_text_box strong {
    color: #0053FF;
    font-size: clamp(11px, 1vw, 13px);
    font-weight: 600;
}

.RTL_Arrow {
    position: absolute;
    
    width: 20vw;
    z-index: 1;
}

.RTL_Arrow.A {
    top: 43%;
    
    right: 57%;
}

.RTL_Arrow.B {
    top: 78%;
    left: 57%;
}


/* ======================================== */
/* 푸드 매니지먼트 섹터 (Food Management Section) */
/* ======================================== */
#Food_management {
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    width: 100%;
    height: 145vh;
    min-height:1300px;
    padding-top: 10%;
    background-color: #ffffff;
}

.RTL_disc_text_box.Fm {
    bottom: calc(100% + 30px);
}

.subheading.FM {
    position: absolute;
    top: 3vh;
}

.capy_line.FM {
    position: absolute;
    top: 12vh;
    left: 5vw;
    text-align: start;
}

.description.FM {
    position: absolute;
    top: 20vh;
    width: 100%;
}

.Food_management_inner_wrap {
    display: flex;
   
    align-items: center;
    justify-content: space-around;
    position: relative;
    bottom: 15%;
    width: 80vw;
    height: 70%;
    gap:10vw;
    padding-left:8vw;
}

.Food_Img_box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: calc(50% - 37vw);
    width: 30vw;
    min-width: 500px;
    border: #000000 solid 2px;
    background-color: #ffffff;
    border-radius: 20px;
    aspect-ratio: 1 / 1.16;
    padding:1%;
    margin-bottom:10vh;
}

.Food_Img_box_flex {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    width: 100%;
    height: 100%;
    gap: 1%;
    row-gap:0.5%;
}

.Img_box_inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top:3px;
}

.Food_Img_box_flex img {
    width: 100%;
}



.FM_arrow {
    position: absolute;
    top: 38%;
    left: 86%;
    width:20vw;
    z-index: 1;
}

.Mockup_FM {
    display: flex;
    justify-content: center;
    position: relative;
   
    z-index: 0;
    width:20vw;
}

.Mockup_FM img{
    width:100%;
}

/* ======================================== */
/* ID 사용자 식별 잠금장치 섹션 (ID User Identification Lock Section) */
/* ======================================== */
#ID_Lock {
    position: relative;
    width: 100%;
    height: 160vh;
    background-color: #ffffff;
}

.subheading.ID {
    position: absolute;
    top: 5vh;
    left: 0;
    width: 100%;
    text-align: center;
}

.capy_line.ID {
    position: absolute;
    top: 16vh;
    left: 0;
    width: 100%;
    text-align: center;
}

.description.ID {
    position: absolute;
    top: 24vh;
    left: 0;
    width: 100%;
    text-align: center;
}

.ID_Lock_inner_wrap {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 60vh;
    width: 100%;
    aspect-ratio: 1286 / 800;
}

.ID_Lock_vento {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.ID_Lock_vento.A {
    width: 35vw;
    height: 76vh;
    border: #000000 solid 2px;
    border-radius: 30px;
    overflow: hidden;
}

.ID_Lock_vento.B {
    width: 30vw;
    height: 76vh;
    margin-left: 5vw;
    aspect-ratio: 640 / 808;
}

.ID_refrigerator_MockUp_img {
    height: 110%;
}

.ID_refrigerator_panel_img {
    height: 99%;
    z-index: 2;
}

.ID_disc_text_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: calc(100% + 3vh);
    width: 120%;
    height: 15vh;
    font-size: clamp(16px, 1vw, 18px);
    font-weight: 500;
    line-height: 140%;
    text-align: center;
    gap:5%;
}

.ID_arrow {
    position: absolute;
    top: 220%;
    right: 65%;
    width: 30vw;
}


/* ======================================== */
/* 중간 관리자 신고 섹터 (Admin Moderation Section) */
/* ======================================== */
#Admin_moderation {
    position: relative;
    width: 100%;
    height: 130vh;
    background-color: #ffffff;
}

#Admin_moderation img {
    position: absolute;
}

.subheading.moderation {
    position: absolute;
    top: 5vh;
    left: 5vw;
}

.capy_line.moderation {
    position: absolute;
    top: 13vh;
    left: 5vw;
}

.description.moderation {
    position: absolute;
    top: 20vh;
    left: 5vw;
}

.Admin_moderation_wrap {
    position: relative;
    top: 35vh;
    width: 100%;
    height: 80%;
}

.moderation_disc_text_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: calc(100% + 1vh);
    width: 120%;
    height: 15vh;
    font-size: clamp(16px, 1vw, 18px);
    font-weight: 500;
    line-height: 140%;
    text-align: center;
    z-index: 2;
    gap:5%;
}

.Admin_moderation_phone {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: calc(50% + 200px);
    width: 20vw;
    border-radius: 30px;
    aspect-ratio: 400 / 817;
}

.moderation_Mockup {
    height: 100%;
}

.moderation_Mockup_screen_wrap {
    display: flex;
    align-items: center;
    position: relative;
    width: 97%;
    height: 90%;
    overflow: hidden;
}

.Iphone_MockUp {
    height: 100%;
    z-index: 2;
}

.moderation_Mockup_screen {
    position: absolute;
    width: 600%;
    /* height: 100%; */
    z-index: 1;
}

.moderation_Mockups {
    position: absolute;
    top: 5vh;
    left:calc(50% + 225px);
    width: 110%;
    z-index: 0;
}


/* ======================================== */
/* 스마트 솔루션: 스캔 이슈 (Smart Solution: Scan Issue) */
/* ======================================== */
#ScanIssue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10vh;
    position: relative;
    width: 100%;
    height: 150vh;
    background-color: #ECEBE9;
    border-radius: 30px 30px 0 0;
    margin-top: -30px;
    padding-top:20vh;
    z-index: 1;
}

.subheading.ScanIssue {
    position: absolute;
    top: 10vw;
    left: 0;
    width: 100%;
    text-align: center;
}


.capy_line.ScanIssue{
     position: absolute;
    top: 13vW;
    left: 0;
    width: 100%;
    text-align: center;
}

.description.ScanIssue {
    position: absolute;
    top: 17vw;
    left: 0;
    width: 100%;
    text-align: center;
}


.step_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 13vh;
    width: 56vw;
    height: 20vh;
    gap: 4vw;
}

.horizontal-dotted-line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5%;
    overflow: hidden;
}

.horizontal-dotted-line svg {
    margin-top: -3px;
}

.step_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-weight: 500;
    gap: 1vh;
}

.step_text {
    position: absolute;
    top: 6vh;
    width: 30vw;
    text-align: center;
}

.ScanIssue_grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    top: 13vh;
    width: 80vw;
    height: 75vh;
    list-style: none;
    gap: 1vw;
}

.ScanIssue_grid li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: #000000 solid 2px;
    border-radius: 30px;
    overflow: hidden;
}

.ScanIssue_grid li:nth-child(1) {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}

.ScanIssue_grid li:nth-child(3) {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
}

.listening_refrigerator_img {
    position: absolute;
    top: -10%;
    right: 15%;
    width: 115%;
}

.Select_a_picture_img {
    width: 100%;
    aspect-ratio: 495 / 381;
    transform: scale(101%);
}

.Selection_completed_img {
    position: absolute;
    top: 0;
    height: 120%;
}

.Selection_completed_box {
    position: absolute;
    top: 5%;
    width: 65%;
}

.voice {
    display: flex;
    position: absolute;
    top: 10%;
    right: 5%;
    width: 50%;
    height: 5%;
    z-index: 3;
    gap: 3%;
}

.voice_box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -100%;
    width: 90%;
    height: 120%;
    background-color: #0053FF;
    color: #ffffff;
    border-radius: 16px 16px 0 16px;
    letter-spacing: 2%;
    text-align: center;
    transform: rotate(7deg);
}

.voice_svg {
    right: 0;
}

.question_box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 8%;
    width: 60%;
    height: 15%;
    background-color: #EBEBEB;
    border-radius: 16px 16px 16px 0;
    font-weight: 500;
}


/* ======================================== */
/* 음식 공유 기능 (Food Sharing Function) */
/* ======================================== */
#Food_sharing {
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    width: 100%;
    height: 220vh;
    min-height: 2100px;
    padding: 5vw;
    margin-top: 10vw;
}

.sharing_wrap {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    width: 100%;
    height: 80%;
    gap: 20vh;
}

.sharing_sector {
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    width: 100%;
    height: 47%;
    gap: 5vw;
}

.sharing_sector.A {
    padding-right: 3vw;
    align-items: end;
}

.sharing_sector.B {
    padding-left: 3vw;
    align-items: center;
}

.Mockup_Food_sharing {
    position: relative;
    height: 100%;
}

.sharing_arrow {
    position: absolute;
}

.sharing_arrow.A {
    top: 59%;
    left: 88%;
}

.sharing_arrow.B {
    top: 56.5%;
    right: 80%;
}

.sharing_Mockup {
    height: 100%;
}

.sharing_disc_box {
    position: relative;
    z-index: 2;
}

.sharing_disc_box.A {
    display: flex;
    justify-content: center;
    width: 29%;
    height: 50%;
    margin-left: 5vw;
    margin-bottom: 3vh;
    gap: 2%;
}

.sharing_disc_box.B {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 30%;
    height: auto;
    padding: 1.5vw;
    background-color: #ffffFF;
    border-radius: 14px;
    margin-right: 5vw;
    margin-bottom: -1vh;
    aspect-ratio: 534 / 371;
    gap: 10%;
}

.sharing_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1vw;
    border-radius: 14px;
    font-weight: 500;
    line-height: 140%;
    gap: 2%;
}

.sharing_box strong {
    font-size: clamp(16px, 1vw, 21px);
    font-weight: 600;
}

.sharing_box.on {
    background-color: #ffffFF;
    border: #0053FF solid 2px;
    color: #0053FF;
}

.sharing_box.off {
    background-color: #0053FF;
    color: #ffffff;
    font-weight: 400;
}

.sharing_box svg {
    position: absolute;
    bottom: 1.5vw;
    right: 1.5vw;
}

.Exclamation_icon {
    height: 30%;
}

.sharing_question {
    font-size: clamp(20px, 1.5vw, 30px);
    font-weight: 700;
}

.sharing_question strong {
    font-weight: 700;
    color: #0053FF;
}

.sharing_info {
    font-size: clamp(16px, 1vw, 22px);
    font-weight: 500;
    color: #4D4D4D;
    margin-top: -5%;
}

.sharing_buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 7vh;
    gap: 5%;
}

.sharing_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 18px;
    font-size: clamp(16px, 1vw, 21px);
}

.sharing_button.cancel {
    background-color: #DBE7FF;
    color: #000000;
}

.sharing_button.confirm {
    background-color: #0053FF;
    color: #ffffff;
}


/* ======================================== */
/* 스마트키 잠금 해제 기능 (Smart Key Unlock Function) */
/* ======================================== */
#Look_system {
    display: flex;
    align-items: end;
    position: relative;
    width: 100%;
    height: 130vh;
    padding: 5vw;
    padding-top: 10vh;
    background-color: #ECEBE9;
    margin-top: 20vh;
}

.capy_line.look {
    position: absolute;
    top: 5vh;
    left: 5vw;
}

.description.look {
    position: absolute;
    top: 15vh;
    left: 5vw;
}

.Look_system_inner_wrap {
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    bottom: 10vh;
    width: 100%;
    height: 70%;
}

.Look_system_leftbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 70%;
    border: #000000 solid 2px;
    border-radius: 30px;
    overflow: hidden;
    aspect-ratio: 1147 / 776;
}

.Look_system_rightbox {
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    width: 35vw;
    height: 90%;
}

.Look_system_leftbox img {
    height: 110%;
}

.Look_system_rightbox img {
    height: 98%;
    z-index: 2;
}

.Look_disc_text_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: calc(100% + 1vh);
    width: 120%;
    height: 15vh;
    font-size: clamp(16px, 1vw, 18px);
    font-weight: 500;
    line-height: 140%;
    text-align: center;
    z-index: 2;
    gap:5%;
}

.right_arrow {
    position: absolute;
    bottom: 20%;
    right: 73%;
    width: 100%;
    aspect-ratio: 677 / 133;
}


/* ======================================== */
/* 마지막 목업 이미지 (Last Mockup Image) */
/* ======================================== */
#last_wegluePhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120vh;
}

.last_wegluePhoto {
    position: relative;
    width: 90vw;
    height: 120vh;
    background-image: url("Img/Mockup_exam.png");
    background-size: cover;
    object-position: center;
    border: #000000 solid 2px;
    border-radius: 30px;
  
}

.last_blue_Logo_textbox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* height:15%; */
}


#last_blue_Logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:150vh;
    width:100%;
}

.LOGO_blue{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    
}

.LOGO_blue svg{
    width:20%;
}

.last_phone_img{
    margin-top:3%;
    display: flex;
    justify-content: center;
    width:100%;
}

.last_phone_img img{
    width:30%;
    height:100%;
    margin-right:50px;
}


.description.last_blue_Logo{
    left:0;
    text-align: center;
}


/* ======================================== */
/* 푸터 영역 (Footer Section) */
/* ======================================== */
#footer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 500px;
    padding: 5vw;
    padding-bottom: 2vw;
    gap: 2vh;
}

.footer_line {
    width: 100%;
    height: 2px;
    background-color: #4D4D4D;
}

.footer_first_sector,
.footer_last_sector {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team_list_wrap {
    display: flex;
    align-items: end;
    position: relative;
    gap: 5vw;
}

.team_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 5px;
    gap: 20px;
}

.Role {
    font-size: 20px;
    font-weight: 500;
    color: #0053FF;
}

.member_name {
    font-size: 20px;
    font-weight: 500;
}

.maill {
    font-size: 14px;
    font-weight: 400;
    opacity: 50%;
}

.icons {
    display: flex;
    gap: 2vw;
}

.Sources {
    font-size: 14px;
    font-weight: 500;
    opacity: 50%;
}